
.galery {
    position: relative;
    padding: 2vw 0;
    background-color: rgb(50, 50, 50);
}

.galery__photo_container {
    width: 30vw;
    height: 25vw;
    overflow: hidden;
}

.galery__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
}

.galery__title {
    font-size: 4vw;
    font-style: italic;
}

.galery__swiper {
    margin-top: 1.5vw;
}

.galery__slide {
    cursor: pointer;
}

.custom-prev,
.custom-next {
    top: 2vw;
    z-index: 5;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1vw 1vw;
    width: fit-content;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s ease;
    font-size: 2vw;
    width: 4vw;
    display: flex;
    justify-content: center;
  }

.custom-prev {
    right: 12vw;
}

.custom-next {
    right: 6vw;
}

.custom-prev:hover,
.custom-next:hover,
.galery__photo:hover {
    transform: scale(1.1);
}

@media (max-width: 764px) {
    .galery__photo_container {
        width: 35vw;
        height: 35vw;
    }
    .custom-prev,
    .custom-next {
        width: 8vw;
        top: 2vw;
        font-size: 6vw;
    }
    .custom-prev {
        right: 16vw;
    }
    .galery {
        position: relative;
        height: 55vw;
    }
    .galery__swiper {
        position: absolute;
        top: 5vw;
    }

    .galery__title {
        font-size: 5vw;
    }
    .galery__swiper {
        margin-top: 0;
    }
}

@media (max-width: 680px) {
    .galery__photo_container {
        width: 40vw;
        height: 30vw;
    }
    .custom-prev,
    .custom-next {
        top: 2vw;
        font-size: 6vw;
    }
    .custom-prev {
        right: 16vw;
    }
    .galery {
        position: relative;
        height: 45vw;
    }
    .galery__swiper {
        position: absolute;
        top: 5vw;
    }

    .galery__title {
        font-size: 6vw;
    }
    .galery__swiper {
        margin-top: 0;
    }
}