
.header {
    font-weight: 100;
    background-color: rgb(50, 50, 50);
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 0 6vw;
}

.header__logo {
    width: 1vw;
}

.header__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__section {
    font-size: 0.9vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__section.logo {
    width: 8vw;
}

.header__section.nav {
    width: 50vw;
}

.header__nav_wrapper {
    cursor: pointer;
    height: 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__underline {
    width: 0%;
    height: .03vw;
    background-color: white;
    transition: .2s ease;
}

.header__nav_wrapper:hover .header__underline {
    width: 100%;
}

@media (max-width: 764px) {
    .header__section.nav {
        display: none;
    }
    .header__container {
        justify-content: center;
    }
    .header__logo {
        width: 2vw;
    }

    .header__title {
        font-size: 2vw;
    }

    .header__section.logo {
        width: 17.5vw;
    }

}

@media (max-width: 1224px) {

    .header__logo {
        width: 1.5vw;
    }
    .header__title {
        font-size: 1.5vw;
    }
    .header__section.logo {
        width: 13vw;
    }
    .header__nav_btn {
        font-size: 1.5vw;
    }

}

@media (max-width: 600px) {
    .header__logo {
        width: 4vw;
    }

    .header__title {
        font-size: 4vw;
    }

    .header__section.logo {
        width: 35vw;
    }

    .header {
        height: 8vh;
    }
}