.conditions {
    background-color: #E5EAEE;
    color: black;
}

.conditions__container {
    padding: 5vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conditions__wrapper {
    height: 50vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.condition__section {
    position: relative;
    width: 100%;
    display: flex;
}

.condition__section.section_1 {
    position: relative;
    justify-content: start;
}

.condition__section.section_2 {
    justify-content: space-between;
    align-items: end;
}

.condition__section.section_3 {
    position: relative;
    justify-content: center;
}

.conditions__inscription.sect_3 {
    position: absolute;
    bottom: -3.3vw;
    right: 20vw;
    width: fit-content;
    background-color: rgb(95, 30, 95);
    color: white;
}

.conditions__title{
    width: 45%;
    font-size: 4vw;
}

.conditions__subtitle {
    position: absolute;
    top: 8vw;
    right: 0;
    font-size: 3vw;
    font-style: italic;
    color: rgb(95, 30, 95);
}

.conditions__inscription {
    border-radius: 10px;
    padding: 1vw;
    font-size: 2vw;
    height: fit-content;
    width: 45%;
    background-color: white;
}

.condition__video {
    width: 40vw;
    outline: 0.1vw solid rgb(95, 30, 95);
    outline-offset: 1.5vw;
}

@media (max-width: 764px) {
    .conditions__wrapper {
        height: fit-content;
    }

    .conditions__subtitle {
        top: 20vw;
        right: 5vw;
        font-size: 5vw;
    }

    .condition__section.section_1 {
        height: 30vw;
    }

    .condition__section.section_2 {
        height: 70vw;
    }

    .conditions__inscription.sect_2 {
        font-size: 4vw;
        width: 90%;
    }

    .condition__section.section_3 {
        margin-top: 5vw;
        height: 20vw;
    }

    .conditions__inscription.sect_3 {
        top: 13vw;
        right: 1vw;
        font-size: 4vw;
    }

    .conditions__inscription.sect_4 {
        font-size: 4vw;
        width: 90%;
    }

    .conditions__title {
        font-size: 8vw;
        width: 90%;
    }
    .condition__section.section_2 {
        flex-direction: column;
        align-items: center;
    }

    .condition__video {
        width: 80vw;
    }

    
}

@media (max-width: 464px) {
    .conditions__wrapper {
        height: fit-content;
    }

    .conditions__subtitle {
        top: 35vw;
        right: 5vw;
        font-size: 5vw;
    }

    .condition__section.section_1 {
        height: 50vw;
    }

    .condition__section.section_2 {
        height: 100vw;
    }

    .conditions__inscription.sect_2 {
        font-size: 6vw;
        width: 90%;
    }

    .condition__section.section_3 {
        margin-top: 5vw;
        height: 40vw;
    }

    .conditions__inscription.sect_3 {
        top: 31vw;
        right: 1vw;
        font-size: 6vw;
    }

    .conditions__inscription.sect_4 {
        font-size: 6vw;
        width: 90%;
    }

    .conditions__title {
        font-size: 10vw;
        width: 90%;
    }
    .condition__section.section_2 {
        flex-direction: column;
        align-items: center;
    }

    .condition__video {
        width: 90vw;
    }

    
}